
body {
  background-color: #170c03;
  color: #ffffff;
  margin: 0;
  text-align: center;
  font-family: Poppins, sans-serif;
}
 
header {
  display: flex;
  align-items: center;
  background-color: #170c03;
  padding: 40px 50px;
}
 
.btn-outline-secondary {
  color: #613004;
  background-color: #ffffff;
}
 
.container_kontakt,
.container_kontakt2 {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
}
 
footer {
  padding: 40px 20px;
  color: #8f8a84;
}
 
footer .link {
  color: #c67b4a;
 text-decoration: none;
}
body {
  background-color: #170c03;
  text-decoration: none;
}
