body {
  background-color: var(--coffee-cream);
  color: var(--coffee-dark);
  text-align: center;
  font-family: Poppins, sans-serif;
}
header {
    display: flex;
    align-items: center;
    background-color: #170c03;
}

form {
    margin-left: auto;
}
body {
    background-color: #170c03;
    color: #ffffff;
    margin: 0;
}
.btn-outline-secondary {
  color:#613004;
  background-color: #ffffff;
}
.subtitle {
  color: #ffffff;
  font-family: Popins, sans-serif;
}
.subtitle {
    font-size: 18px;
}

section {
    padding: 100px 50px;
}

section h1 {
    font-size: 60px;
}
.ponuka{
  color: #ffffff;
  font-family: Popins, sans-serif;
  font-size: 45px;
   padding: 100px 50px;
}
.card{
  background-color: rgb(79, 51, 16);
}
.order {
    max-width: 700px;
    margin: 0 auto;
    padding: 80px 20px;
}

.order h2 {
    text-align: center;
    font-size: 70px;
    margin-bottom: 0;
}

.order .subtitle {
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 50px;
    color: #8f8a84;
}

.order input,
.order select,
.order textarea {
    width: 100%;
    background: transparent;
    border: 1px solid #4a413a;
    color: white;
    padding: 18px;
    margin-bottom: 25px;
}

.order button {
    width: 100%;
    padding: 20px;
    background: #c67b4a;
    border: none;
    font-weight: bold;
    letter-spacing: 3px;
}
footer .link {
  color: #c67b4a;
text-decoration: none;
}
.button{
    background-color: #170c03;
    color: #c67b4a;
    text-decoration: none;
}